<%= form_for(@task) do |f| %>
  <p>
    <%= f.label :title, "What do you want to do?" %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body, "Any specifics?" %>
    <%= f.text_area :body %>
  </p>
  <p>
    <% if @task.tags.any? %>
    <div class="pre_tag">
      Current tags:
    </div>
    <% end %>
    <% @task.tags.each do |tag| %>
      <div class="tag">
        <%= tag.tag_name %>
      </div>
    <% end %>
    <div class="clear_floats"></div>
  </p>
  <p>
    <%= label_tag :tag, "Add tag" %>
    <%= text_field_tag :tag %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <p>
    <%= link_to 'Cancel', user_path(current_user) %>
  </p>
<% end %>